.productContainer{
    background-color: rgb(223, 223, 223);
    width: min-content;
    min-width: 12vw;
    padding: 15px;

    display: grid;
    grid-template-rows: repeat(5,auto);
    justify-content: center;
}
.productImg{
    grid-row: 1/2;
    justify-self: center;

    width: auto;
    max-width: 15vw;

    height: auto;
    max-height: 17vh;
    
    border-radius: 15px;
}
.title{
    grid-row: 2/3;
    font-size: 1rem;
}
.title:hover{
    cursor: pointer;
    color: rgb(138, 90, 2)
}
.rating{
    grid-row: 3/4;
}
.price{
    grid-row: 4/5;
}
.addToCart{
    grid-row: 5/6;
    font-size: 1.2rem;
    background: rgb(165, 1, 1);
    color: white;
    border: none;
    border-radius: 7px;
}

