.productContainer{
    background-color: rgb(255, 255, 255);
    width: 20vw;
    padding: 15px;

    display: grid;
    grid-template-rows: repeat(5,auto);
    justify-content: center;
}
.productImg{
    grid-row: 1/2;
    
    justify-self: center;

    width: auto;
    max-width: 15vw;

    height: auto;
    max-height: 17vh;
    
    border-radius: 15px;
}
.title{
    grid-row: 2/3;
    font-size: 1.5rem;
}
.title:hover{
    cursor: pointer;
    color: rgb(138, 90, 2)
}
.rating{
    grid-row: 3/4;
    margin:5px;
}
.price{
    grid-row: 4/5;
    margin:5px;
}
.addToCart{
    grid-row: 5/6;
    font-size: 1.2rem;
    background: rgb(165, 1, 1);
    color: white;
    border: none;
    border-radius: 7px;
    width: fit-content;
    padding: 0 4rem;

    justify-self: center;
}
.addToCart:hover{
    cursor: pointer;
    background: rgb(83, 1, 1);
}

