.productContainer{
    background-color: rgb(255, 255, 255);
    width: 20vw;
    padding: 15px;

    display: grid;
    grid-template-rows: repeat(5,auto);
    justify-content: center;
}
    .productImg{
        grid-row: 1/2;
        
        justify-self: center;

        width: auto;
        max-width: 15vw;

        height: auto;
        max-height: 17vh;
        
        border-radius: 15px;
    }
    .productImg:hover{
        cursor: pointer;
    }
    .title{
        grid-row: 2/3;
        font-size: 1.5rem;
        text-decoration: none;
        color:rgb(63, 62, 62);
        font-weight: 550;
    }
    .title:hover{
        cursor: pointer;
        color: rgb(138, 90, 2)
    }
    .rating{
        grid-row: 3/4;
        margin:5px;
    }
    .price{
        grid-row: 4/5;
        margin:5px;
    }
    .addToCart{
        grid-row: 5/6;
        font-size: 1.2rem;
        background: rgb(165, 1, 1);
        color: white;
        border: none;
        border-radius: 7px;
        width: fit-content;
        padding: 0 4rem;

        justify-self: center;
    }
    .addToCart:hover{
        cursor: pointer;
        background: rgb(83, 1, 1);
    }

@media(max-width: 768px){
    .productContainer{
        width: 40vw;
        /* height: 25vh; */
    }
    .productImg{
        height: 9vh;
    }
    .title{
        font-size: .8rem;
    }
    .rating{
        font-size: .6rem;
    }
    .addToCart{
        font-size: 1rem;
        padding:0;
        width: 8rem;
        height: 1.2rem;
        align-self: end;
    }
}